services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"

  api:
    build: .
    depends_on:
      - db
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: testdb
      POSTGRES_HOST: db
    ports:
      - "8000:8000"
